@font-face {
    font-family: 'Akzidenz-Grotesk Std Super';
    src: url('../fonts/AkzidenzGroteskStd-Super.eot');
    src: url('../fonts/AkzidenzGroteskStd-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkzidenzGroteskStd-Super.woff2') format('woff2'),
        url('../fonts/AkzidenzGroteskStd-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Akzidenz-Grotesk Std';
    src: url('AkzidenzGroteskStd-It.eot');
    src: url('AkzidenzGroteskStd-It.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskStd-It.woff2') format('woff2'),
        url('AkzidenzGroteskStd-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std Med';
    src: url('AkzidenzGroteskStd-MdIt.eot');
    src: url('AkzidenzGroteskStd-MdIt.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskStd-MdIt.woff2') format('woff2'),
        url('AkzidenzGroteskStd-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std';
    src: url('AkzidenzGroteskStd-LightIt.eot');
    src: url('AkzidenzGroteskStd-LightIt.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskStd-LightIt.woff2') format('woff2'),
        url('AkzidenzGroteskStd-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std';
    src: url('AkzidenzGroteskStd-BoldIt.eot');
    src: url('AkzidenzGroteskStd-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskStd-BoldIt.woff2') format('woff2'),
        url('AkzidenzGroteskStd-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std Super';
    src: url('AkzidenzGroteskStd-SuperItalic.eot');
    src: url('AkzidenzGroteskStd-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskStd-SuperItalic.woff2') format('woff2'),
        url('AkzidenzGroteskStd-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
*/
@font-face {
    font-family: 'Akzidenz-Grotesk Std';
    src: url('../fonts/AkzidenzGroteskStd-Regular.eot');
    src: url('../fonts/AkzidenzGroteskStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkzidenzGroteskStd-Regular.woff2') format('woff2'),
        url('../fonts/AkzidenzGroteskStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std Med';
    src: url('../fonts/AkzidenzGroteskStd-Md.eot');
    src: url('../fonts/AkzidenzGroteskStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkzidenzGroteskStd-Md.woff2') format('woff2'),
        url('../fonts/AkzidenzGroteskStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std Bold';
    src: url('../fonts/AkzidenzGroteskStd-Bold.eot');
    src: url('../fonts/AkzidenzGroteskStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkzidenzGroteskStd-Bold.woff2') format('woff2'),
        url('../fonts/AkzidenzGroteskStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Std Light';
    src: url('../fonts/AkzidenzGroteskStd-Light.eot');
    src: url('../fonts/AkzidenzGroteskStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkzidenzGroteskStd-Light.woff2') format('woff2'),
        url('../fonts/AkzidenzGroteskStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
